<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>【论坛】<%= title %></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/dependencies/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/nprogress.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/style.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/bootstrap-dialog.css">
  <link rel="stylesheet" type="text/css" href="/styles/header.css">
  <link rel="stylesheet" type="text/css" href="/styles/footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/styles/forum-detail.css">
  <script src="/js/extern/jquery-2.1.4.min.js"></script>
  <script src="/js/extern/nprogress.js"></script>
  <script src="/js/extern/jquery.lazyload.min.js"></script>
  <!--[if gte IE 9]>
  <script src="/js/extern/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/js/extern/html5shiv.min.js" type="text/javascript"></script>
  <script src="/js/extern/respond.min.js" type="text/javascript"></script>
  <script src="/js/extern/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
  <!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
  <header class="header">
    <nav class="navbar navbar-default" id="navbar">
      <div class="container">
        <%- include('../components/header'); %>
      </div>
    </nav>
  </header>
  <section class="container">
    <div class="content-wrap">
      <div class="forum-wrapper content">
        <h3 class="post-title"><%= title %></h3>
        <div class="posts-wrapper">
          <% replyArr.forEach(function(r){%>
            <div class="post-wrapper">
              <div class="user-part">
                <div class="user-info"><%= r.userInfo.userName %></div>
                <div class="user-info user-type"><%= r.userInfo.userType %></div>
              </div>
              <div class="text-part">
                <div class="reply"><%- r.reply %></div>
                <div class="reply-footer">
                  <span class="reply-info"><%= r.time %></span>
                  <span class="reply-info">#<%= r.floor %></span>
                  <span class="reply-info want-reply" data-userName="<%= r.userInfo.userName %>">回复</span>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
        <div class="comment-wrapper">
          <form id="comment-form">
            <label>回复:</label>
            <textarea name="reply" wrap="virtual" class="form-control publish-input"></textarea>
            <div class="publish-btn-wrapper">
              <span class="btn btn-default btn-publish" id="forum-publish-btn">发表</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <%- include('../components/sidebar'); %>

  </section>
  <footer class="footer">
    <div class="container">
      <%- include('../components/footer'); %>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
  </footer>
  <script src="/js/extern/bootstrap.min.js"></script>
  <script src="/js/extern/jquery.ias.js"></script>
  <script src="/js/extern/scripts.js"></script>
  <script src="/js/extern/bootstrap-dialog.min.js"></script>
  <script src="/js/tools.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/forum-detail.js"></script>
</body>

</html>