<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>论坛发帖</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/dependencies/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/nprogress.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/style.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/bootstrap-dialog.css">
  <link rel="stylesheet" type="text/css" href="/styles/header.css">
  <link rel="stylesheet" type="text/css" href="/styles/footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/publish.css">
  <script src="/js/extern/jquery-2.1.4.min.js"></script>
  <script src="/js/extern/nprogress.js"></script>
  <script src="/js/extern/jquery.lazyload.min.js"></script>
  <!--[if gte IE 9]>
  <script src="/js/extern/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/js/extern/html5shiv.min.js" type="text/javascript"></script>
  <script src="/js/extern/respond.min.js" type="text/javascript"></script>
  <script src="/js/extern/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
  <!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
  <header class="header">
    <nav class="navbar navbar-default" id="navbar">
      <div class="container">
        <%- include('../components/header'); %>
      </div>
    </nav>
  </header>
  <section class="container">
    <div class="content-wrap">
      <div class="publish-wrapper">
        <form id="publish-form" enctype="multipart/form-data">
          <label>标题</label>
          <input name="title" class="form-control publish-input">
          <label>标签</label>
          <div class="tag-chooser-wrapper publish-input">
            <div class="chooser-content">
              <div class="dropdown">
                <a  class="btn-secondary dropdown-toggle" type="button" id="car-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="nofollow">车辆级别</a>
                <div class="dropdown-menu tag-dropdown-menu" aria-labelledby="car-dropdown">
                  <% tagSelectorInfo.car.forEach(function(c){%>
                    <% if (c.tagId === curTagId) { %>
                      <span class="forum-name chosen-tag" data-tagId="<%= c.tagId %>"><%= c.tagName %></span>
                    <% } else { %>
                      <span class="forum-name" data-tagId="<%= c.tagId %>"><%= c.tagName %></span>
                    <% } %>
                  <% }) %>
                </div>
              </div>
              <div class="dropdown">
                <a  class="btn-secondary dropdown-toggle" type="button" id="geo-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="nofollow">车行天下</a>
                <div class="dropdown-menu tag-dropdown-menu" aria-labelledby="geo-dropdown">
                  <% tagSelectorInfo.geo.forEach(function(g){%>
                    <% if (g.tagId === curTagId) { %>
                      <span class="forum-name chosen-tag" data-tagId="<%= g.tagId %>"><%= g.tagName %></span>
                    <% } else { %>
                      <span class="forum-name" data-tagId="<%= g.tagId %>"><%= g.tagName %></span>
                  <% } %>
                  <% }) %>
                </div>
              </div>
              <div class="dropdown">
                <a  class="btn-secondary dropdown-toggle" type="button" id="topic-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="nofollow">车与生活</a>
                <div class="dropdown-menu tag-dropdown-menu" aria-labelledby="topic-dropdown">
                  <% tagSelectorInfo.topic.forEach(function(t){%>
                    <% if (t.tagId === curTagId) { %>
                      <span class="forum-name chosen-tag" data-tagId="<%= t.tagId %>"><%= t.tagName %></span>
                    <% } else { %>
                      <span class="forum-name" data-tagId="<%= t.tagId %>"><%= t.tagName %></span>
                  <% } %>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
          <label>正文</label>
          <textarea name="text" wrap="virtual" class="form-control publish-input"></textarea>
        </form>
        <div class="publish-btn-wrapper">
          <span class="btn btn-default btn-publish" id="forum-publish-btn">发表</span>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <%- include('../components/footer'); %>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
  </footer>
  <script src="/js/extern/bootstrap.min.js"></script>
  <script src="/js/extern/jquery.ias.js"></script>
  <script src="/js/extern/scripts.js"></script>
  <script src="/js/extern/bootstrap-dialog.min.js"></script>
  <script src="/js/tools.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/publish.js"></script>
</body>

</html>